# git repo files
.git/
.gitignore


!apps/web/.next   
!.env*            
# dependencies
node_modules
apps/web/node_modules
packages/plate-editor/node_modules
.git
logs
.DS_Store
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage/

# next.js


# production

# misc
.DS_Store
*.pem

# editor configuration
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# lowdb files, used for testing due to unready backend APIs
db.json

# Turborepo
.turbo/