@media (max-width: 4000px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 3600px) {
  html {
    font-size: 85%;
  }
}
/* @media (max-width: 3400px) {
  html {
    font-size: 80%;
  }
} */
@media (max-width: 3400px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 3000px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 3300px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 2600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 2000px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 15%;
  }
}
